#body {
  background-color: #C0C0C0
  }

/* HEADER */

.header-header {
  text-align: center;
  background-color: #65E8C5;
}

img {
  width: 70%;
}

h1 {
  font-family: garamond;
  font-size: 300%;
}

/*below, a tight BOX around nav buttons*/
.nav-header{
  overflow: auto; 
  margin-top: 2%;
} 

.ul-header {
    list-style-type: none;
    text-align:center;
    }

/*BUTTON CONTROLS */
li.li-header {
  display: inline-block;
  border: 1px outset gray; 
  border-radius: 15%;
  padding: 0% 3%;
  background-color: #FFFAF0;
  }

/*TEXT INSIDE BUTTONS*/
h3 {
  font-size: 150%; /*SIZE OF TEXT INSIDE BUTTON*/
  color: black; 
  text-align: center;
  font-family: garamond; 
  font-weight: 100;
}

/*  MIDDLE SECTION ROW */
section {
  background-color: #B4E0B4;
}

/*BOX'S RELATIONSHIP TO SECTION*/
aside {
  margin-top: 5%;
  border-radius: 12%;
  background-color:   #FFFAF0;
  text-align: center;  
}

header.aside {
  text-align: center
}

hr {
  border-color: inherit;
}

/*BOX AROUND ICONS*/
.nav-aside {
  overflow:auto;
}
/*BOX AROUND ICONS*/
.ul-aside {
    padding: 0;
    text-align: center;
}

/* THE ICONS BORDER? */

.li-aside {
  display: inline-block;
}

/*ICON ITSELF*/

.a-aside { 
  color: black;
  padding: 25%;
  font-size: 1.75em;
}

/*  BOTTOM */

footer {
  background-color: #65E8C5;
  text-align: center;
  color: black;
  padding-top: 1%;
  padding-bottom: 3%;
}

h4 {
  text-align: center;
}

@media (max-width: 1200px) {
  .ul-header {
    clear: left;
  }
img {
  width: 20%;
  } 
} 

