.article {
  overflow: auto;
  margin-top: 5%;
  margin-bottom: 11%;
  border-radius: 12%;
  background-color:   #FFFAF0;
}

h2 {
  text-align: center;
  font-size: 200%;
  font-family: garamond;
}

.images {
  overflow: auto;
}
 
figure {
  position: relative;
  float: left;
  width: 50%;
  margin-bottom: 1%;
  text-align: center;
  padding: 1%;
    }

img.a {
  float: left;
  width: 100%; 
  margin-bottom: 4%;
  text-align: center;
  padding: 1%;
}

  figcaption {position: absolute;
    color: white;
    bottom: 30%;
    left: 20%;
    text-family: garamond;
    background: green;
    width: 70%;
  }


hr {
  border-color: inherit;
  text-align: center;
  width: 75%;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx breakpoint 1*/

@media (max-width: 1220px) { 
  aside {
    clear: left;
    width: 75%; 
    margin: 5% auto;
  }
  
  img {
    width: 20%;
    } 
  
  img.a {
    width: 100%;
    clear: left;
    } 

  .article {
    margin: 5% auto;
    clear: left;
    width: 75%;
}

.a-aside { 
  font-size: 2.25em;
}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx break point 2*/

@media (max-width: 557px) { 
  
  img {
    width: 30%;
    } 

  figcaption {
    clear: left;
  }
  
  figure {
    width: 100%;
    clear: left;
  }
  
  img.a {
    width: 100%;
    clear: left;
    } 

  .article {
    margin: 5% auto;
    clear: left;
    width: 75%;
}

.a-aside { 
  font-size: 2.25em;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxlast breakpoint*/

@media (max-width: 175px) { 
  
  img {
    width: 50%;
    } 
  
  img.a {
  padding: 1% 5%;
    } 
  
  h2{
    font-size: 150%;
  }
  
  .article {
    margin: 5% auto;
    clear: left;
    width: 75%;
    }

    .nav-header{
      padding: 0; 
      margin: 0;
    }
    .ul-header{
      padding: 0;
    }
    
    h1{
      font-size: 180%;
    }
}